html, body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
body {
  background-image: url("./images/Table.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

:root {
  --height: 400px;
  --width: 250px;
  --Mleft: 52%;
  --BRadius: 5%;
}

#TextField {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#SubmitButton {
  border: none;
  width: 15vh;
  height: 4.5vh;
  border-radius: .5vh;
  
}

#PasswordField {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#SubmitPass {
  border: none;
  width: 15vh;
  height: 4.5vh;
  border-radius: .5vh;
}

#win {
  pointer-events: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  left: 45%;
  position: absolute;
  bottom: 52.5%;
  text-align: center;
  transition: 0.25s;
  opacity: 0%;
}

#lose {
  pointer-events: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  left: 40%;
  position: absolute;
  bottom: 52.5%;
  text-align: center;
  transition: 0.25s;
  opacity: 0%;
}

#space {
  height: 5vh;
}
#space5 {
  height: 5vh;
}
#space1 {
  height: 2.5vh;
}
#space2 {
  height: 150px;
}
#draw {
  position: relative;
  top: -5px;
  left: -5px;
  width: var(--width);
  height: var(--height);
  border-radius: var(--BRadius);
  transition: 0.25s ease;
}



#backcard0 {
  position: absolute;
  margin-right: 0;
  margin-left: 50%;
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
  border-radius: var(--BRadius);
  background-color: #FFF;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red),
                    linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red);
  border-radius: var(--BRadius);
  border: solid black 2px;
}

#backcard1 {
  z-index: -5;
  position: absolute;
  margin-right: 0;
  margin-left: 48%;
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
  border-radius: var(--BRadius);
  background-color: #FFF;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red),
                    linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red);
  border-radius: var(--BRadius);
  border: solid black 2px;
}
#backcard2 {
  z-index: -6;
  position: absolute;
  margin-right: 0;
  margin-left: 46%;
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
  border-radius: var(--BRadius);
  background-color: #FFF;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red),
                    linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red);
  border-radius: var(--BRadius);
  border: solid black 2px;
}



.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  color: black;
  border-radius: var(--BRadius);
}



.flip-card {
  position: absolute;
  margin-inline: auto;
  margin-right: 0;
  margin-left: var(--Mleft);
  background-color: transparent;
  width: var(--width);
  height: var(--height);
  perspective: 1000px;
  border-radius: var(--BRadius);
}

.flip-card-inner {
  opacity: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  
  border-radius: var(--BRadius);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--BRadius);
}

.flip-card-front {
  

  background-color: #FFF;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red),
                    linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, red 75%, red);
  border-radius: var(--BRadius);
  border: solid black 2px;
}

.flip-card-back {
  border-radius: var(--BRadius);
  transform: rotateY(180deg);
  border: solid black 2px;  
}
